[submodule "custom/gaussians2life"]
	path = custom/gaussians2life
	url = https://github.com/sarkarsaswata/gaussians2life.git
	branch = peregrine-memory-optimized
[submodule "Unidepth"]
	path = Unidepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
